		</div>
	</div>
</div>

<footer id='footer' style="bottom: 0; width: 100%; padding-top: 10px; padding-bottom: 10px; min-height: 120px;">
	<div style="margin-left: auto; margin-right: auto; width: 80%;">
		<div class='span6 footer-content'>
			<p> <a href='http://www.openstreetmap.org/?lat=51.522205&amp;lon=-0.08176500000001852&amp;zoom=16&amp;layers=T&amp;mlat=51.52210&amp;mlon=-0.08343'>Open Data Institute</a><span>, 65 Clifton Street, London EC2A 4JE</span></p>
			<p><a href='mailto:info@theodi.org'>info@theodi.org</a> · Company <a href='http://opencorporates.com/companies/gb/08030289'>08030289</a>	· <span>VAT</span> <span>143 7796 80</span></p>
		</div>
		<div style="display: inline-block; float: right;">
			<p class='license'><a href='http://creativecommons.org/licenses/by-sa/2.0/uk/deed.en_GB' rel='license'><img alt="Creative Commons Licence" height="15" src="http://static.theodi.org/assets/cc-853c95321fbeb898ecb83c38fb156a71.png" width="80" /></a></p>
		</div>
	</div>
</footer>
</body>
</html>
